{% extends "EstenopoApp/padre.html" %}

{% load static %}

{% block ContenidoQueCambia %}

    <P> Estenopo  - e s t u d i o - fue un proyecto discontinuado, que pretendia dar un servicio integral de fotografia y video.
        Su principal enfoque fue la fotografia de estudio apuntando a la moda y el retoque digital.
        El creador del proyecto fue Lucas Martos (yo), luego de incurrir de manera amateur en el mundo de la fotografia.
        La idea nacio en 2014 y llego a su fin en 2018 por interferencia con mi actividad profesional.
    </P>

{% endblock %}