{% extends "EstenopoApp/padre.html" %}

{% load static %}

{% block ContenidoQueCambia %}
    <nav class="navbar navbar-dark bg-dark static-top">
        <div class="container position-relative">
                <div class="col-xl-12">
                    <div class="text-center text-white">
                        <h4 class="mb-0"> - Conoce nuestros trabajos en Fotografia Aerea! - <span style="white-space: nowrap;">PROXIMAMENTE!</span> </h4>
                    </div>
                </div>
            </div>
    </nav>  

    
{% endblock %}