{% extends "AlquilerApp/padre.html" %}

{% load static %}

{% block ContenidoQueCambia %}

    <!--{% if myform.error %}
    
        <p style="color:red;"> Datos incorrectos, revisar </p>

    {% endif %}-->

    <a href="{% url 'Art_List' %}"> Accede a la Lista de Articulos que puedes alquilar para tus propias producciones! -> </a>
    <br>  
    <!--<H3> Alta de articulos en alquiler</H3>

    <form action="" method="POST"> {% csrf_token %}
        <table>

            {{ myForm }}        

        </table>
    
        <input type="submit" value="Enviar">
    </form>

    {% for a in articulos %}
        <li> {{a}} </li>
        <button>
            <a href="{% url 'EliminaArticulo' a.item %}">Eliminar</a>
            <a href="(% url 'EditarArticulo' a.item %)">Editar</a>
        </button>
    {% endfor %}
    <br>
    <a href="alquiler.html"> Agregar un nuevo Articulo </a>
    <br>-->
    <h5> Buscar Articulos </h5>
    <form action="/AlquilerApp/busqueda" method="GET"> 

        <input type="text" name="item" id="item"><br>
        <input type="submit" value="Buscar">
        
    </form>
    
{% endblock %}